<div class="container-fluid">
    <form action="" id="purchase-form">

        {% if purchase.pk %}
        <input type="hidden" name="id" value="{{ purchase.pk }}" />
        {% endif %}

        <div class="form-group mb-3">
            <label for="vendor_id" class="control-label">Vendor Name</label>
            <select name="vendor_id" id="vendor_id" class="form-select form-select-sm rounded-0" required>
            {% if not purchase.vendor_id %}
            <option value="" disabled selected></option>
            {% else %}
            <option value="" disabled></option>
            {% endif %}
            {% for vendor in vendors %}
                {% if purchase.vendor_id == vendor.id %}
                <option value="{{ vendor.id }}" selected>{{ vendor.name }}</option>
                {% else %}
                <option value="{{ vendor.id }}">{{ vendor.name }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        
        <div class="form-group mb-3">
            <label for="product_id" class="control-label">Product Name</label>
            <select name="product_id" id="product_id" class="form-select form-select-sm rounded-0" required>
            {% if not purchase.product_id %}
            <option value="" disabled selected></option>
            {% else %}
            <option value="" disabled></option>
            {% endif %}
            {% for product in products %}
                {% if purchase.product_id == product.id %}
                <option value="{{ product.id }}" selected>{{ product.name }}</option>
                {% else %}
                <option value="{{ product.id }}">{{ product.name }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="quantity" class="control-label">Quantity</label>
            <input type="text" name="quantity" id="quantity" class="form-control form-control-sm rounded-0" value="{% if product.quantity %}{{product.quantity}}{% endif %}" required>
        </div>
        
    </form>
</div>
<script>
    $(function() {
        $('#purchase-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-purchase-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.log(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>